In [2]:
bank_balance=200

In [3]:
print(bank_balance)

200

In [ ]:
my_int=20

In [ ]:
my_float=15.85

In [ ]:
my_string='Hello World'

In [1]:
my_bool=True

In [8]:
def ex_email(text):
    pos=text.find('@')
    index=pos
    while index>0 and text[index]!=' ':
        index-=1
    fp=text[index:pos]
    sp=text[pos:text.find(' ',pos)]
    print(fp+sp)

In [10]:
ex_email('pssst@rrr.com')

pssst@rrr.co

In [11]:
5/4

1.25

In [12]:
5//3

1

In [13]:
4**2

16

In [14]:
4**100

1606938044258990275541962092341162602522202993782792835301376

In [15]:
4/100

0.04

In [16]:
4/100

0.04

In [17]:
4//10

0

In [18]:
10%4

2

In [19]:
102*3

306

In [20]:
speed=25

In [21]:
time=4

In [22]:
distance=speed*time

In [23]:
print(distance)

100

In [24]:
6+6+0+4+3/5

16.6

In [25]:
7+6+0+4+3/5

17.6

In [26]:
(7+6+0+4+3)/5

4.0

In [27]:
(7+6+0+4+3)//5

4

In [28]:
(5000*10*4)/100

2000.0

In [29]:
def area_of_square(side):
    return side**2

In [30]:
print(area_of_square(4))

16

In [31]:
print(area_of_square(25))

625

In [32]:
print(1 + 2 ** 3 // 4 * 5)

11

In [36]:
bank_balance=200

In [37]:
print(bank_balance)

200

In [41]:
my_int=20

In [42]:
my_float=15.85

In [43]:
my_string='Hello World'

In [44]:
my_bool=True

In [50]:
height=50
width=40
area_of_rectangle=height*width
print(area_of_rectangle)

2000

In [59]:
height=60
width=40
new_area_of_rectangle=height*width
print(new_area_of_rectangle)

2400

In [68]:
height=1.7
weight=72.25
bmi=weight//(height**2)
print(bmi)

25.0

In [78]:
height=1.7
weight=72.25
bmi=int(weight//(height**2))
print(bmi)

25

In [96]:
gender='male'
is_obese=False

In [102]:
height=20
width=80
area_of_rectangle=height*width

In [107]:
total_interest=9762.69
type(total_interest)

float

In [108]:
type(area_of_rectangle)

int

In [109]:
bmi=25
print("BMI is "+bmi)

TypeError: must be str, not int

In [110]:
bmi_str=str(bmi)
message="BMI is "+bmi_str
print(message)

BMI is 25

In [116]:
first="Cloudx"
second="Lab"
final=first+second

In [125]:
animal='cat'
ten_animals=animal*10
print(ten_animal)

catcatcatcatcatcatcatcatcatcat

In [ ]:
def pay_calculator1(hour,rate):
    extra=0
    if hour>40:
        extra=hour-40
        hour=40
    
    total_pay= (hour*rate)+(extra*(hour*1.5))

In [ ]:
print(pay_calculator1(45,10))

In [9]:
def pay_calculator(hour,rate):
    extra=0
    if hour>40:
        extra=hour-40
        hour=40
    
    total_pay= (hour*rate)+(extra*(rate*1.5))
#     total_pay= (hour*rate)
    return total_pay

In [10]:
print(pay_calculator(45,10))

475.0

In [14]:
2<3

True

In [15]:
2<=3

True

In [16]:
2!=3

True

In [17]:
2>=3

False

In [18]:
2>3

False

In [19]:
2>=3

False

In [20]:
2<3

True

In [21]:
2==3

False

In [22]:
3=>2

SyntaxError: invalid syntax (<ipython-input-22-1d7fd0d3b2c6>, line 1)

In [23]:
max(1,2)

2

In [24]:
min(1,3)

1

In [25]:
print(max('Hello world'))

w

In [26]:
print(max('Hello wzrld'))

z

In [30]:
area_of_circle=78.5

In [31]:
area_of_circle=str(area_of_circle)

In [32]:
area_of_circle_msg="Area of the circle is - " + area_of_circle

In [33]:
print(area_of_circle_msg)

Area of the circle is - 78.5

In [56]:
maxx=2 
# valid but avoid using built in function name as variable name

In [39]:
print(max)

2

In [44]:
len("cloudxlab")

9

In [59]:
max=max()

TypeError: 'int' object is not callable

In [60]:
min('cloudxlab')

'a'

In [61]:
max('cloudxlab')

TypeError: 'int' object is not callable

In [2]:
square_area=8.9**2
square_area_type=type(square_area)
square_area_int=int(square_area)
square_area_str=str(square_area_int)

In [1]:
import math
print(math)

<module 'math' from '/usr/local/anaconda/lib/python3.6/lib-dynload/math.cpython-36m-x86_64-linux-gnu.so'>

In [2]:
math.sqrt(4)

2.0

In [3]:
math.pow(2,2)

4.0

In [4]:
math.abs(-12)

AttributeError: module 'math' has no attribute 'abs'

In [5]:
math.absolute(-1)

AttributeError: module 'math' has no attribute 'absolute'

In [6]:
math.cos(0)

1.0

In [7]:
math.tan(0)

0.0

In [8]:
math.log10(1000)

3.0

In [9]:
math.pi

3.141592653589793

In [10]:
math.si

AttributeError: module 'math' has no attribute 'si'

In [11]:
square_root=math.sqrt(56.98)

In [12]:
square_root

7.548509786706248

In [58]:
sin_rad=(26/360)*(2*math.pi)

In [59]:
log_e=math.log

4.0

In [66]:
log_e=math.log(1000)

In [67]:
sin_degree=math.sin(sin_rad)

In [44]:
sin_degree

0.4383711467890774

In [81]:
square_root=math.sqrt(56.98)
sin_rad=(26*2*math.pi)/360
sin_degree=math.sin(sin_rad)
log_e=math.log(1000)

In [88]:
import random
random.random()

0.43787521618700265

In [89]:
random_number=random.random()

In [90]:
random_int=int(random_number)

In [95]:
type(random.random())

float

In [96]:
def print_name():
    name = "Cloudxlab"        
    print("My name is", name)
print(type(print_name))

<class 'function'>

In [97]:
print_name()

My name is Cloudxlab

In [2]:
def get_name():
    print("Cloudxlab")
    
get_name()

Cloudxlab

In [5]:

def my_function(number):
    xyz=number
    xyz_str=str(xyz)
    xyz_str=xyz_str+"cloudxlab"
    print(xyz_str)

In [6]:
my_function(10)

10cloudxlab

In [8]:
import math
def new_function(num):
    return math.pi*num

In [11]:
def void_function(num1,num2):
    print(new_function(math.pow(num1,num2)))

In [12]:
void_function(4.6,7.3)

216412.35147094267

In [17]:
def input_name():
    inp=input("What am I studying?\n")
    return inp

In [18]:
subject=input_name()
print(subject)

What am I studying?
Python
Python

In [22]:
1==1

True

In [23]:
2==1

False

In [24]:
print(type(False))
print(type(True))

<class 'bool'>
<class 'bool'>

In [25]:
1 is 1

True

In [27]:
1 is not 1

False

In [28]:
1 is not 2

True

In [29]:
1 is 2

False

In [50]:
def is_on_line(x1,x2,x):
    return x1<=x<=x2 or x1>=x>=x2

In [51]:
is_on_line(10, 20, 30)

False

In [52]:
is_on_line(10, 20, 20)

True

In [53]:
is_on_line(10, 20, -10)

False

In [54]:
is_on_line(-4, -5, -4.5)

True

In [55]:
is_on_line(-2, -1, -2.5)

False

In [5]:
1==2 or 1==3

False

In [7]:
12 & True

0

In [17]:
num3=1.2
# tp=type(num3)
if isinstance(num3, float):
    print("Its float")

Its float

In [19]:
def conditional_statements(num1,num2,num3,num4):
    if num1<num2 and num1>num3 and num1==num4:
        if num3<num1 and num3<num2 and num3<num4:
            if isinstance(num2, float):
                if isinstance(num1, int) and isinstance(num3, int) and isinstance(num4, int):
                    return num1+num2+num3+num4
                
    return None

In [23]:
print(conditional_statements(2,3.1,1,2))

8.1

In [1]:
def except_func(num):
    try:
        return num*num
    except:
        str="invalid number"
        return str

In [2]:
except_func(1)

1

In [3]:
except_func(12)

144

In [4]:
except_func('2')

'invalid number'

In [12]:
a33=1
print(a33)
a33+=1
print(a33)

1
2

In [6]:
pt=print

In [7]:
pt('Hi')

Hi

In [18]:
def my_function(*parisa):
    for arg in parisa:
        print(arg)

In [19]:
my_function(1,2,4,5,6)

1
2
4
5
6

In [1]:
for value in [1,2,3,4,5]:
    print(value)

1
2
3
4
5

In [11]:
for value in range(10,1,-2):
        print (value)

10
8
6
4
2

In [13]:
for value in range(10,1,-6):
    if value==4:
        break
    print (value)

10

In [16]:
map1= dict()

In [19]:
map1['1']=1map1['1']=1

In [20]:
print(map1)

{'1': 1}

In [21]:
map={}
map["2"]=200

In [22]:
print(map)

{'2': 200}

In [23]:
my_map={"name":"Parisa","email":"pt@pt.com","age":40}

In [31]:
print(my_map)

{'name': 'Parisa', 'email': 'pt@pt.com', 'age': 40, 'address': 'Bangalore', 'phone': 78979797979}

In [42]:
print(len(my_map))

5

my_map['address']="Bangalore"

In [30]:
my_map["phone"]=78979797979

In [50]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = map(filter(lambda x: x % 5 == 0, numbers))
print(even_numbers)

TypeError: 'dict' object is not callable

In [49]:
for k,v in my_map.items():
    print(k +'>'+str(v))

name>Parisa
email>pt@pt.com
age>40
address>Bangalore
phone>78979797979

In [6]:
def greet(lang=None):
    def _i_greet(_lang):
        if _lang=='en':
            print('Hola')
        elif _lang=='fr':
            print('Bronjour')
        else:
            print('Hello')
    if type(lang)==list:
        for _lang in lang:
            _i_greet(_lang)
    else:
        _i_greet(lang)

In [9]:
greet('en')
greet()
greet('fr')

Hola
Hello
Bronjour

In [13]:
greet(['fr','dd','en'])

Bronjour
Hello
Hola

In [17]:
def f1(n:int)->int: // this is just doc purpuse. Python dont care for types
    print('dd'+str(n))
    return n

In [21]:
# f1('1')
f1(1)

dd1

1

In [22]:
def tax(income):
    if income<200:
        return 0
    else:
        return (income-200)*0.3

In [23]:
tax(200)

0.0

In [24]:
tax(500)

90.0

In [25]:
def interest(p,r,t):
    return (p*r*t)/100

In [29]:
interest(12,1200,5)

720.0

In [31]:
def pay_out(hr,rate):
    if hr>40:
        return 40*rate+(hr-40)*(1.5*rate)
    else:
        return hr*rate

In [36]:
print(pay_out(40,10))
print(pay_out(45,10))
print(pay_out(23,10))

400
475.0
230

In [37]:
def transformer(tx,nums):
    res=[]
    for n in nums:
        res.append(tx(n))
    return res

In [40]:
def sq(n):
    return n*n
import math
def sqrt(n):
    return math.sqrt(n)

In [42]:
print(transformer(sq,[2,3]))
print(transformer(sqrt,[4,9]))

[4, 9]
[2.0, 3.0]

In [44]:
def pm(ex):
    def make(n):
        return n**ex
    return make

In [45]:
sq=pm(2)

In [46]:
sq(3)

9

In [47]:
cb=pm(3)

In [48]:
cb(3)

27

In [60]:
# recursion
def printn(n):
    if n>0:
        print(n)
        printn(n-1)

In [61]:
printn(3)

3
2
1

In [62]:
def printn1(n):
    if n>0:
        print(n)
        printn1(n-1)
        print(n)

In [63]:
printn1(3)

3
2
1
1
2
3

In [13]:
def print_even(n):
    for i in range(0,n,2):
           print(i)

In [15]:
print_even(10)

0
2
4
6
8

In [1]:
def compound_interest(principle, rate, years):
    comp_interest=0.0
    for i in range(years):   
        comp_interest=comp_interest+(comp_interest+principle)* float(rate/100)
    return comp_interest

In [2]:
compound_interest(100,5,2)

10.25

In [33]:
def sum_digits_func(arg):
    if type(arg)==int and arg>0:
        tot=0
        arg, rem = divmod(arg, 10)
        tot=tot+rem
        while arg>0:
            arg, rem = divmod(arg, 10)
            tot=tot+rem                    
        return tot  
    else:
        return -1

In [34]:
def sum_func(arg):
    if type(arg)==int and arg>=0:
        tot=0
        for i in range(arg+1):
            tot=tot+i                    
        return tot  
    else:
        return -1

In [35]:
print(sum_func(0))
print(sum_func(-1))
print(sum_func('abcd'))

0
-1
-1

In [26]:
# Tower of Hanoi- total counts-> pow(2,N)-1
 
def tower_of_hanoi(n, a, c, b, counts): 
    if n == 0: 
        return counts
    counts=counts+1
    counts=tower_of_hanoi(n-1, a, b, c,counts) 
    print("Move disk", n, "from rod", a, "to rod", c) 
    return tower_of_hanoi(n-1, b, c, a,counts) 
  
  
# Discs
N = 4
  
# A, C, B are rods
counts=tower_of_hanoi(N, 'A', 'C', 'B',0) 
print('Total Counts:',counts)

Move disk 1 from rod A to rod B
Move disk 2 from rod A to rod C
Move disk 1 from rod B to rod C
Move disk 3 from rod A to rod B
Move disk 1 from rod C to rod A
Move disk 2 from rod C to rod B
Move disk 1 from rod A to rod B
Move disk 4 from rod A to rod C
Move disk 1 from rod B to rod C
Move disk 2 from rod B to rod A
Move disk 1 from rod C to rod A
Move disk 3 from rod B to rod C
Move disk 1 from rod A to rod B
Move disk 2 from rod A to rod C
Move disk 1 from rod B to rod C
Total Counts: 15

In [ ]:
print(pow(2,4)-1)

In [ ]:
# Matrix Multiplication

def print_board(board):
    i=0

    for row in board:       
        row1=map(str,row)
        print(' '.join(row1))
        i=i+1
#         if i%3==0:
#             print('-'*18)

            
# matrix Multiplication
A=[[1,2,3],
   [4,5,6]
   
  ]
B=[[1,2],
   [4,5],
   [7,8],  
  ]

def matrix_multiplication(a,b):
    r1=len(a)
    c1=len(a[0])
    
    r2=len(b)
    c2=len(b[0])
    
    r = [[0 for _ in range(r1)] for _ in range(c2)]

    print('a->',r1,'x',c1)
    print('b->',r2,'x',c2)
    if r1==c2 and c1==r2:   
        for i in range(r1):                       
            for ii in range(c1):
                for jj in range(r2):
                    r[i][ii]=r[i][ii]+a[ii][jj]*b[jj][ii]                                   
                
            
    else:
        print("Invalid Matrix rows and columns. Multiplication is not possible")
        
    print_board(r)
    
matrix_multiplication(A,B)

In [1]:
# Matrix Multiplication

def print_board(board):
    i=0

    for row in board:       
        row1=map(str,row)
        print(' '.join(row1))
        i=i+1
#         if i%3==0:
#             print('-'*18)

            
# matrix Multiplication
A=[[1,1,1,1],
   [1,1,1,1],
   [1,1,1,1]  
  ]
B=[[1,1,1],
   [1,1,1],
   [1,1,1],
   [1,1,1]
  ]

def matrix_multiplication(a,b):
    r1=len(a)
    c1=len(a[0])
    
    r2=len(b)
    c2=len(b[0])
    
    r = [[0 for _ in range(r1)] for _ in range(c2)]

    print('a->',r1,'x',c1)
    print('b->',r2,'x',c2)
    if r1==c2 and c1==r2:   
        for i in range(r1):                       
            for ii in range(c2):
                for jj in range(c1):
                    r[i][ii]=r[i][ii]+ (a[i][jj]*b[jj][ii])                                 
                
            
    else:
        print("Invalid Matrix rows and columns. Multiplication is not possible")
        
    print_board(r)
    
matrix_multiplication(A,B)

a-> 3 x 4
b-> 4 x 3
4 4 4
4 4 4
4 4 4

In [43]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

In [73]:
def special_func(num):
    if type(num)==int and num>=0:
        tot=0
        for i in range(1,num+1):
            if num%i==0 and i%2!=0:
#                 print(i)
                tot=tot+i
                          
        return tot  
    else:
        return -10

In [74]:
print(special_func(12))

print(special_func(15))

print(special_func(-1))

print(special_func('abcd'))

4
24
-10
-10

In [ ]:
def test_brean_continue():
    total = 0
    while True:
        n = input("Enter 1 to enter a number,  Enter 2 to stop the process\n")
        if n is "1":
            number = input("Enter the number\n")
            try:
                total = total + int(number)
            except:
                print("Please enter a valid number\n")
                continue
        elif n is "2": 
            break
        else:
            print("Please enter a valid choice\n")
            continue

# test_brean_continue()

In [ ]:
test_brean_continue()

In [ ]:
def test_brean_continue():
    total = 0
    while True:
        n = input("Enter 1 to enter a number,  Enter 2 to stop the process\n")
        if n is "1":
            number = input("Enter the number\n")
            try:
                total = total + int(number)
            except:
                print("Please enter a valid number\n")
                continue
        elif n is "2": 
            break
        else:
            print("Please enter a valid choice\n")
            continue
test_brean_continue()

In [1]:
def str_func(strd):
    return strd[len(strd)-1]

In [2]:
print(str_func('1234'))

4

In [26]:
def sum_str_func(strd):
    sum=0
    strd=str(strd)
    if strd.isnumeric():
        for i in str(strd):
            sum=sum+int(i)    
    return sum

In [29]:
print(sum_str_func('1234'))

10

In [16]:
print(int('12343'))

12343

In [11]:
print('-12343'.isnumeric())

False

In [44]:
s = "cloudxlab"
print(s[2:])

oudxlab

In [50]:
def slicing_func(inpstr):
    print(inpstr[2:])

In [51]:
slicing_func("Hello World")

llo World

In [58]:
a = "cloudxlab"
# a[1] = 'm'
a = "cloudx"
a = a + "lab"
print(a)

cloudxlab

In [68]:
a = "cloudxlab"
dir(a)
help(a.translate)

Help on built-in function translate:

translate(...) method of builtins.str instance
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

In [69]:
help(str.translate)

Help on method_descriptor:

translate(...)
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

In [70]:
print(a.upper())

CLOUDXLAB

In [71]:
print(a)

cloudxlab

In [5]:
["one", "two", "three"][-1]

'three'

In [7]:
data1 = "someone@gmail.com@gmail"
position = data1.find('@gmrail')
print(position)
position = data1.find('@gmail', 4, 6)
print(position)

-1
-1

In [14]:
def email_func(email):
    at_pos=email.find('@')
    if at_pos>-1:
        sp1_pos=email.rfind(' ',0,at_pos)
        if sp1_pos>-1 :
            sp2_pos=email.find(' ',at_pos,len(email))
            if sp2_pos>-1:
                return email[sp1_pos+1:sp2_pos]
            else:
                return email[sp1_pos+1:len(email)]
        else:
            return email[0:at_pos]
    else:
        return False

In [11]:
print(email_func("Crazy Frog"))

False

In [15]:
email_func("this is first abhinav@cloudxlab.com and this is second sandeep@cloudxlab.com")

'abhinav@cloudxlab.com'

In [16]:
email_func("second sandeep@cloudxlab.com")

'sandeep@cloudxlab.com'

In [17]:
email_func("a a@")

'a@'

In [ ]:
a=73
b="%d" % a
print(b)

In [ ]:
b =  "%d is an integer, %g is floating-point and %s is string" % (23, 23.34, "Twenty-Three")
print(b)

In [1]:
print('%d+3' % 3)

3+3

In [2]:
print("%f %f %s")

%f %f %s

In [3]:
print("%f %s %d" % (12.3, 12, 'cloudxlab')

SyntaxError: unexpected EOF while parsing (<ipython-input-3-bcbd5327bee8>, line 1)

In [4]:
a = [12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]

In [8]:
print(3 in a)

False

In [6]:
print('cloudx lab' in a)

False

In [9]:
a = [1,2,3,4,5]
for number in a:
   print(number)

1
2
3
4
5

In [13]:
for number in range(len(a)):
    a[number] = a[number] + 1

In [14]:
  print(a)

[4, 5, 6, 7, 8]

In [22]:
a = [1,2,4]
b = [3,4]
c = a + b
print(c)

[1, 2, 4, 3, 4]

In [23]:
a = [1,2,3]    
c = a * 3
print (c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
a = [1,2,3,4,5,6,7,8,9]
s = (a[2:5])
print(s)

[3, 4, 5]

In [10]:
a=[23,12,32,1,2,34,56]
a.append(12)
a.extend(a)
a.sort()
print(a)
print(a[2] + a[7])
sum=0
for i in a:
    sum=sum+i
print(sum)

[1, 1, 2, 2, 12, 12, 12, 12, 23, 23, 32, 32, 34, 34, 56, 56]
14
344

In [1]:
a = [23,12,32,1,2,34,56]
a.append(12)
print(a[len(a)-2])

56

In [8]:
12+56

68

In [16]:
list1 = [12,23,43,[2,4,5], 2, 4,5]
print(list1.pop(3))
print(list1)
sum=0
for i in list1:
    sum=sum+i
print(sum)

[2, 4, 5]
[12, 23, 43, 2, 4, 5]
89

In [13]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[1]
print(list2)

['cloudx', 'provides', 'cloud', 'lab']

In [14]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[:]

In [15]:
len(list2)

0

In [17]:
s = "I am learning Python at CloudxLab"
sp = s.split()
print (sp)

['I', 'am', 'learning', 'Python', 'at', 'CloudxLab']

In [26]:
def str_list_func(s):
    ss=s.split()
    str_new = []
    for w in ss:
        if len(w)>1:
#             word_arr= list(w)
    #         t=w[0]
    # #         print(w[len(w)-1])
    #         word_arr[0]=w[len(w)-1]
    #         word_arr[len(w)-1]=t
            word_arr=w[-1]+w[1:-1]+w[0]
            str_new.append(''.join(word_arr))    
        else:
            str_new.append(''.join(w))    
            
    return ' '.join(str_new) 
        
str_list_func("W")

'W'

In [12]:
# try:
#     f = open("file_name.txt")

# except Exception as e:
#     print(e)
f = open("file_name.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'file_name.txt'

In [19]:
def file_read_func(path):
    try:
        with open(path) as f:
            s = ""
            sum=0
            for line in f:
                for c in line.split():
                    sum=sum+len(c)  
            return sum
        
    except FileNotFoundError as e:
        return -1

In [20]:
print(file_read_func("/cxldata/python_sample_file"))

65

In [7]:
with open("/home/psterdale8854/cloudxlab_jupyter_notebooks/python_file_writing.txt",'a') as f:
      f.write("I am learning Python at CloudxLab.")

In [2]:
print(check)

0

In [9]:
numbers = {"1" : "One", "2" : "Two"}

In [10]:
numbers["Three"]="3"

In [3]:
print(numbers)

{'1': 'One', '2': 'Two', 'Three': '3'}

In [4]:
numbers = {}

In [6]:
numbers2 = dict()

In [7]:
print(numbers)

{}

In [8]:
print(numbers2)

{}

In [13]:
 for i,ii in numbers.items() : print (ii)

One
Two
3

In [40]:
thistuple = ("zapple", "banana", "cherry")

In [41]:
thelist=list(thistuple)
print(thelist)

['zapple', 'banana', 'cherry']

In [28]:
(0, 1, 1) < (1, 3, 4)

True

In [36]:
print(thelist.sort())

None

In [44]:
print(thelist)

['zapple', 'banana', 'cherry']

In [43]:
sorted(thelist)

['banana', 'cherry', 'zapple']

In [1]:
d = { 'one' : 1 , 'two' : 2, 'three' : 3, 'four': 4 }
print(len(d))

4

In [2]:
d = { 'one' : 1 , 'two' : 2, 'three' : 3, 'four': 4 }
print(len(d))

4

In [3]:
print('three' in d)

True

In [4]:
print(4 in d)

False

In [7]:
print("one" in d and "two" in d)

True

In [8]:
def dict_func(input_str):
    out=dict()
    for w in input_str.split():
        if w in out:
            out[w]=out[w]+1
        else :
              out[w]=1
    return out

In [9]:
dict_func('the quick brown fox jumps over the lazy dog')

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}

In [13]:
ls=['fff',1]

In [14]:
tp=(1,2)

In [17]:
t = tuple() 
print(t)
t = (12,323, 'd', [1,23], False)
type(t)

()

In [2]:
t = (1)
type(t)

int

In [4]:
t = tuple()
print(t)

()

In [11]:
t1 = tuple("1,2,3,4,5")
t2 = tuple([1,2,3,4,5])
t3 = tuple((1,2,3,4,5))
len(t3)

5

In [10]:
print(t2)

(1, 2, 3, 4, 5)

In [14]:
t = (1,3,5,2,54,34,2,34,5)
l = len(t)
print(l)
print(t[l-2])
t2 = t[2:5]
print(t2)

9
34
(5, 2, 54)

In [17]:
print(t2[:])

(5, 2, 54)

In [18]:
t3 = t[1:3] + t2[:]

In [19]:
print(t3)

(3, 5, 5, 2, 54)

In [20]:
t[1:3]

(3, 5)

In [25]:
2+34+23

59

In [22]:
(0, 1, 2) < (0, 3)

True

In [35]:
l = [(0,23,34), (2,34,23), (1,34,23)]
l.sort()


print(l)

[(0, 23, 34), (1, 34, 23), (2, 34, 23)]

In [26]:
!ls

churn_emails_inbox_with_python_433.ipynb
class1.ipynb
foundations_of_python_450.ipynb
foundations_of_python_459.ipynb
getting_started_with_various_tools_at_cloudxlab_928.ipynb
PyPractice.ipynb
python_file_writing.txt
python_foundations_assessments_103.ipynb
python_videos_and_questions_50.ipynb
Untitled.ipynb

In [27]:
l=[1,2,3]
(a,b,c)=l

In [30]:
print(c)

3

In [31]:
a , b =  b, a

In [32]:
print((a,b,c))

(2, 1, 3)

In [33]:
(a,b,c)="HRB"

In [34]:
print((a,b,c))

('H', 'R', 'B')

In [36]:
d = { "one" : 1, "two" : 2, "three" : 3}
k = d.items()
print(k)

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [37]:
for key, value in list(k):
    print(key, value)

one 1
two 2
three 3

In [38]:
def dict_tuple_func(ls):
    d=dict()
    for i in ls:
        if i in d:
            d[i]=d[i]+1
        else:
            d[i]=1
    sum=0
    for ii in d:
        sum=sum+ii
        
    return (d,sum)

In [39]:
dict_tuple_func([1, 2, 3, 1, 2, 3])

({1: 2, 2: 2, 3: 2}, 6)

In [10]:
import socket
mysock=socket.socket(socket.AF_INET,socket.SOCK_STREAM)
mysock.connect(('www.google.com',80))
# mysock.send('GET http://www.py4inf.com/code/romeo.txt HTTP/1.0\n\n')
request = 'http://www.google.com/\r\n'
mysock.send(request.encode())
while True:
    data=mysock.recv(512)
    if (len(data)<1):
        break
    print(data)
mysock.close()

b'HTTP/1.0 400 Bad Request\r\nContent-Type: text/html; charset=UTF-8\r\nReferrer-Policy: no-referrer\r\nContent-Length: 1555\r\nDate: Mon, 26 Feb 2024 17:50:20 GMT\r\n\r\n<!DOCTYPE html>\n<html lang=en>\n  <meta charset=utf-8>\n  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">\n  <title>Error 400 (Bad Request)!!1</title>\n  <style>\n    *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:'
b'180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:u'
b'rl(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}\n  </style>\n  <a href=//www.google.com/><span id='
b'logo aria-label=Google></span></a>\n  <p><b>400.</b> <ins>That\xe2\x80\x99s an error.</ins>\n  <p>Your client has issued a malformed or illegal request.  <ins>That\xe2\x80\x99s all we know.</ins>\n'

In [14]:
from urllib import *
fhand=request.urlopen('https://www.google.com')
for line in fhand:
    print(line.strip())

b'<!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="en"><head><meta content="Search the world\'s information, including webpages, images, videos and more. Google has many special features to help you find exactly what you\'re looking for." name="description"><meta content="noodp" name="robots"><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><title>Google</title><script nonce="-63ymeqNOLtsE_jp6pAgTA">(function(){var _g={kEI:\'0M_cZZaSA_uZwbkPiOegqAg\',kEXPI:\'0,18168,1347300,206,4804,1132070,1962,1195778,380750,44799,23792,284,12029,17586,4998,13123,3952,6884,29334,2226,2872,2891,3926,4422,4012,60690,15324,2025,1,16916,2652,4,57402,2215,2980,24040,6654,7596,1,11943,30211,2,16395,342,23024,6700,31121,4569,6255,24673,33064,2,2,1,6959,19673,8155,8861,14489,22436,9779,12414,30045,20198,6050,30697,3801,2412,30219,3030,11151,4665,1804,7734,18098,9436,8830,2984,1635,8839,35170,12350,5210139,2,297,1093,253,462,182,5992678,412,2806254,32274,12,7443174,20556682,43886,3,1603,3,2121778,2585,1905780,20730658,392913,8163,4636,8409,8027,8638,13023,4427,10576,5878,17458,7647,2,5885,1923,7287,1301,2370,6407,4110,6351,3385,884,8326,3742,2212,153,2066,5532,217,213,1063,1305,2,2334,3,3428,3,363,195,4548,4496,5,5133,4,4234,2531,1686,463,879,1226,10608,4,159,1,662,61,667,1321,253,1793,1727,306,1186,3123,2,18,3,443,2064,1213,4488,71,1450,4623,656,290,6,12,1253,3,77,462,72,419,185,1,1,1,1904,411,1,3,324,1,604,13,266,28,322,101,291,155,1,1,1,201,142,1397,2,739,5,232,184,381,7,702,1314,18,2,2,2,927,3,324,231,3,651,967,663,1410,536,1,382,727,4,87,505,2298,74,10,713,139,87,565,149,203,1829,1138,88,1101,935,1,66,444,370,8,426,326,106,213,14,4071,523,2,156,105,1137,158,58,38,206,246,267,123,3,4,230,1,3,201,70,86,4,60,63,318,227,51,89,277,611,97,4,216,68,532,319,627,536,221,42,208,221,904,350,5,308,117,971,4,1,6,796,260,21262315,421028,1453,4267,3,3769,1803,540\',kBL:\'svZs\',kOPI:89978449};(function(){var a;(null==(a=window.google)?0:a.stvsc)?google.kEI=_g.kEI:window.google=_g;}).call(this);})();(function(){google.sn=\'webhp\';google.kHL=\'en\';})();(function(){'
b'var h=this||self;function l(){return void 0!==window.google&&void 0!==window.google.kOPI&&0!==window.google.kOPI?window.google.kOPI:null};var m,n=[];function p(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||m}function q(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b}function r(a){/^http:/i.test(a)&&"https:"===window.location.protocol&&(google.ml&&google.ml(Error("a"),!1,{src:a,glmm:1}),a="");return a}'
b'function t(a,b,c,d,k){var e="";-1===b.search("&ei=")&&(e="&ei="+p(d),-1===b.search("&lei=")&&(d=q(d))&&(e+="&lei="+d));d="";var g=-1===b.search("&cshid=")&&"slh"!==a,f=[];f.push(["zx",Date.now().toString()]);h._cshid&&g&&f.push(["cshid",h._cshid]);c=c();null!=c&&f.push(["opi",c.toString()]);for(c=0;c<f.length;c++){if(0===c||0<c)d+="&";d+=f[c][0]+"="+f[c][1]}return"/"+(k||"gen_204")+"?atyp=i&ct="+String(a)+"&cad="+(b+e+d)};m=google.kEI;google.getEI=p;google.getLEI=q;google.ml=function(){return null};google.log=function(a,b,c,d,k,e){e=void 0===e?l:e;c||(c=t(a,b,e,d,k));if(c=r(c)){a=new Image;var g=n.length;n[g]=a;a.onerror=a.onload=a.onabort=function(){delete n[g]};a.src=c}};google.logUrl=function(a,b){b=void 0===b?l:b;return t("",a,b)};}).call(this);(function(){google.y={};google.sy=[];google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.sx=function(a){google.sy.push(a)};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};google.bx=!1;google.lx=function(){};var d=[];google.fce=function(a,b,c,e){d.push([a,b,c,e])};google.qce=d;}).call(this);google.f={};(function(){'
b'document.documentElement.addEventListener("submit",function(b){var a;if(a=b.target){var c=a.getAttribute("data-submitfalse");a="1"===c||"q"===c&&!a.elements.q.value?!0:!1}else a=!1;a&&(b.preventDefault(),b.stopPropagation())},!0);document.documentElement.addEventListener("click",function(b){var a;a:{for(a=b.target;a&&a!==document.documentElement;a=a.parentElement)if("A"===a.tagName){a="1"===a.getAttribute("data-nohref");break a}a=!1}a&&b.preventDefault()},!0);}).call(this);</script><style>#gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}'
b'</style><style>body,td,a,p,.h{font-family:arial,sans-serif}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#1967d2}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}body{background:#fff;color:#000}a{color:#681da8;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#1967d2}a:visited{color:#681da8}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#f8f9fa;border:solid 1px;border-color:#dadce0 #70757a #70757a #dadce0;height:30px}.lsbb{display:block}#WqQANb a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;color:#000;border:none;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#dadce0}.lst:focus{outline:none}</style><script nonce="-63ymeqNOLtsE_jp6pAgTA">(function(){window.google.erd={jsr:1,bv:1961,de:true};'
b'var h=this||self;var k,l=null!=(k=h.mei)?k:1,n,p=null!=(n=h.sdo)?n:!0,q=0,r,t=google.erd,v=t.jsr;google.ml=function(a,b,d,m,e){e=void 0===e?2:e;b&&(r=a&&a.message);void 0===d&&(d={});d.cad="ple_"+google.ple+".aple_"+google.aple;if(google.dl)return google.dl(a,e,d),null;b=d;if(0>v){window.console&&console.error(a,b);if(-2===v)throw a;b=!1}else b=!a||!a.message||"Error loading script"===a.message||q>=l&&!m?!1:!0;if(!b)return null;q++;d=d||{};b=encodeURIComponent;var c="/gen_204?atyp=i&ei="+b(google.kEI);google.kEXPI&&(c+="&jexpid="+b(google.kEXPI));c+="&srcpg="+b(google.sn)+"&jsr="+b(t.jsr)+"&bver="+'
b'b(t.bv);var f=a.lineNumber;void 0!==f&&(c+="&line="+f);var g=a.fileName;g&&(0<g.indexOf("-extension:/")&&(e=3),c+="&script="+b(g),f&&g===window.location.href&&(f=document.documentElement.outerHTML.split("\\n")[f],c+="&cad="+b(f?f.substring(0,300):"No script found.")));google.ple&&1===google.ple&&(e=2);c+="&jsel="+e;for(var u in d)c+="&",c+=b(u),c+="=",c+=b(d[u]);c=c+"&emsg="+b(a.name+": "+a.message);c=c+"&jsst="+b(a.stack||"N/A");12288<=c.length&&(c=c.substr(0,12288));a=c;m||google.log(0,"",a);return a};window.onerror=function(a,b,d,m,e){r!==a&&(a=e instanceof Error?e:Error(a),void 0===d||"lineNumber"in a||(a.lineNumber=d),void 0===b||"fileName"in a||(a.fileName=b),google.ml(a,!1,void 0,!1,"SyntaxError"===a.name||"SyntaxError"===a.message.substring(0,11)||-1!==a.message.indexOf("Script error")?3:0));r=null;p&&q>=l&&(window.onerror=null)};})();</script></head><body bgcolor="#fff"><script nonce="-63ymeqNOLtsE_jp6pAgTA">(function(){var src=\'/images/nav_logo229.png\';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}'
b'if (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}'
b'}'
b'})();</script><div id="mngb"><div id=gbar><nobr><b class=gb1>Search</b> <a class=gb1 href="https://www.google.com/imghp?hl=en&tab=wi">Images</a> <a class=gb1 href="https://maps.google.com/maps?hl=en&tab=wl">Maps</a> <a class=gb1 href="https://play.google.com/?hl=en&tab=w8">Play</a> <a class=gb1 href="https://www.youtube.com/?tab=w1">YouTube</a> <a class=gb1 href="https://news.google.com/?tab=wn">News</a> <a class=gb1 href="https://mail.google.com/mail/?tab=wm">Gmail</a> <a class=gb1 href="https://drive.google.com/?tab=wo">Drive</a> <a class=gb1 style="text-decoration:none" href="https://www.google.com/intl/en/about/products?tab=wh"><u>More</u> &raquo;</a></nobr></div><div id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span id=gbe></span><a href="http://www.google.com/history/optout?hl=en" class=gb4>Web History</a> | <a  href="/preferences?hl=en" class=gb4>Settings</a> | <a target=_top id=gb_70 href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/&ec=GAZAAQ" class=gb4>Sign in</a></nobr></div><div class=gbh style=left:0></div><div class=gbh style=right:0></div></div><center><br clear="all" id="lgpd"><div id="lga"><img alt="Google" height="92" src="/images/branding/googlelogo/1x/googlelogo_white_background_color_272x92dp.png" style="padding:28px 0 14px" width="272" id="hplogo"><br><br></div><form action="/search" name="f"><table cellpadding="0" cellspacing="0"><tr valign="top"><td width="25%">&nbsp;</td><td align="center" nowrap=""><input name="ie" value="ISO-8859-1" type="hidden"><input value="en" name="hl" type="hidden"><input name="source" type="hidden" value="hp"><input name="biw" type="hidden"><input name="bih" type="hidden"><div class="ds" style="height:32px;margin:4px 0"><input class="lst" style="margin:0;padding:5px 8px 0 6px;vertical-align:top;color:#000" autocomplete="off" value="" title="Google Search" maxlength="2048" name="q" size="57"></div><br style="line-height:0"><span class="ds"><span class="lsbb"><input class="lsb" value="Google Search" name="btnG" type="submit"></span></span><span class="ds"><span class="lsbb"><input class="lsb" id="tsuid_1" value="I\'m Feeling Lucky" name="btnI" type="submit"><script nonce="-63ymeqNOLtsE_jp6pAgTA">(function(){var id=\'tsuid_1\';document.getElementById(id).onclick = function(){if (this.form.q.value){this.checked = 1;if (this.form.iflsig)this.form.iflsig.disabled = false;}'
b'else top.location=\'/doodles/\';};})();</script><input value="ANes7DEAAAAAZdzd4C1Elz_yy7aWN3BMvwJHyikwBqj9" name="iflsig" type="hidden"></span></span></td><td class="fl sblc" align="left" nowrap="" width="25%"><a href="/advanced_search?hl=en&amp;authuser=0">Advanced search</a></td></tr></table><input id="gbv" name="gbv" type="hidden" value="1"><script nonce="-63ymeqNOLtsE_jp6pAgTA">(function(){var a,b="1";if(document&&document.getElementById)if("undefined"!=typeof XMLHttpRequest)b="2";else if("undefined"!=typeof ActiveXObject){var c,d,e=["MSXML2.XMLHTTP.6.0","MSXML2.XMLHTTP.3.0","MSXML2.XMLHTTP","Microsoft.XMLHTTP"];for(c=0;d=e[c++];)try{new ActiveXObject(d),b="2"}catch(h){}}a=b;if("2"==a&&-1==location.search.indexOf("&gbv=2")){var f=google.gbvu,g=document.getElementById("gbv");g&&(g.value=a);f&&window.setTimeout(function(){location.href=f},0)};}).call(this);</script></form><div id="gac_scont"></div><div style="font-size:83%;min-height:3.5em"><br></div><span id="footer"><div style="font-size:10pt"><div style="margin:19px auto;text-align:center" id="WqQANb"><a href="/intl/en/ads/">Advertising</a><a href="/services/">Business Solutions</a><a href="/intl/en/about.html">About Google</a></div></div><p style="font-size:8pt;color:#70757a">&copy; 2024 - <a href="/intl/en/policies/privacy/">Privacy</a> - <a href="/intl/en/policies/terms/">Terms</a></p></span></center><script nonce="-63ymeqNOLtsE_jp6pAgTA">(function(){window.google.cdo={height:757,width:1440};(function(){var a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}'
b'if(a&&b&&(a!=google.cdo.width||b!=google.cdo.height)){var e=google,f=e.log,g="/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI,h="",k=[],l=void 0!==window.google&&void 0!==window.google.kOPI&&0!==window.google.kOPI?window.google.kOPI:null;null!=l&&k.push(["opi",l.toString()]);for(var m=0;m<k.length;m++){if(0===m||0<m)h+="&";h+=k[m][0]+"="+k[m][1]}f.call(e,"","",g+h)};}).call(this);})();</script> <script nonce="-63ymeqNOLtsE_jp6pAgTA">(function(){google.xjs={ck:\'xjs.hp.wbOBFWnEId4.L.X.O\',combam:\'AAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAOAAAgAAgAAAAwAAAAAAAAABAAHERHADAARwAA8AI\',cs:\'ACT90oGBZQ2C6FIu18BJYjen1n2TOFVTkw\',cssam:\'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAgAAAAAAAAAAAAAABA\',cssopt:true,csss:\'ACT90oFLh1ADDneiR4VRIBvu0io-lXySQw\',excm:[],jsam:\'AAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAOAAAAAAAAAAAwAAAAAAAAAAAAHERHADAARwAA8AI\',jss:\'ACT90oFt3g0eCpku2GdNQBL8-NHtnMU22w\',noinlinecss:false,sepam:true,sepcss:true};})();</script>     <script nonce="-63ymeqNOLtsE_jp6pAgTA">(function(){var u=\'/xjs/_/js/k\\x3dxjs.hp.en.nUL_jPOf-18.O/am\\x3dAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAOAAAgAAgAAAAwAAAAAAAAABAAHERHADAARwAA8AI/d\\x3d1/ed\\x3d1/rs\\x3dACT90oGxV25pRcgYOXtVwCmnYmHc35UfuA/m\\x3dsb_he,d\';var amd=0;'
b'var e=this||self,f=function(a){return a};var g;var h=function(a){this.g=a};h.prototype.toString=function(){return this.g+""};var k={};var l=function(){var a=document;var b="SCRIPT";"application/xhtml+xml"===a.contentType&&(b=b.toLowerCase());return a.createElement(b)};'
b'function m(a,b){a.src=b instanceof h&&b.constructor===h?b.g:"type_error:TrustedResourceUrl";var c,d;(c=(b=null==(d=(c=(a.ownerDocument&&a.ownerDocument.defaultView||window).document).querySelector)?void 0:d.call(c,"script[nonce]"))?b.nonce||b.getAttribute("nonce")||"":"")&&a.setAttribute("nonce",c)};function n(a){a=null===a?"null":void 0===a?"undefined":a;if(void 0===g){var b=null;var c=e.trustedTypes;if(c&&c.createPolicy){try{b=c.createPolicy("goog#html",{createHTML:f,createScript:f,createScriptURL:f})}catch(d){e.console&&e.console.error(d.message)}g=b}else g=b}a=(b=g)?b.createScriptURL(a):a;return new h(a,k)};void 0===google.ps&&(google.ps=[]);function p(){var a=u,b=function(){};google.lx=google.stvsc?b:function(){q(a);google.lx=b};google.bx||google.lx()}function r(a,b){b&&m(a,n(b));var c=a.onload;a.onload=function(d){c&&c(d);google.ps=google.ps.filter(function(t){return a!==t})};google.ps.push(a);document.body.appendChild(a)}google.as=r;function q(a){google.timers&&google.timers.load&&google.tick&&google.tick("load","xjsls");var b=l();b.onerror=function(){google.ple=1};b.onload=function(){google.ple=0};google.xjsus=void 0;r(b,a);google.aple=-1;google.psa=!0};google.xjsu=u;e._F_jsUrl=u;setTimeout(function(){0<amd?google.caft(function(){return p()},amd):p()},0);})();window._ = window._ || {};window._DumpException = _._DumpException = function(e){throw e;};window._s = window._s || {};_s._DumpException = _._DumpException;window._qs = window._qs || {};_qs._DumpException = _._DumpException;(function(){var t=[1,2,0,0,0,640,536870912,134218243,264192,16826368,8388608,327680,4670492,18628800,3080192];window._F_toggles = window._xjs_toggles = t;})();function _F_installCss(c){}'
b"(function(){google.jl={bfl:0,blt:'none',chnk:0,dw:false,dwu:true,emtn:0,end:0,ico:false,ikb:0,ine:false,injs:'none',injt:0,injth:0,injv2:false,lls:'default',pdt:0,rep:0,snet:true,strt:0,ubm:false,uwp:true};})();(function(){var pmc='{\\x22d\\x22:{},\\x22sb_he\\x22:{\\x22agen\\x22:false,\\x22cgen\\x22:false,\\x22client\\x22:\\x22heirloom-hp\\x22,\\x22dh\\x22:true,\\x22ds\\x22:\\x22\\x22,\\x22fl\\x22:true,\\x22host\\x22:\\x22google.com\\x22,\\x22jsonp\\x22:true,\\x22msgs\\x22:{\\x22cibl\\x22:\\x22Clear Search\\x22,\\x22dym\\x22:\\x22Did you mean:\\x22,\\x22lcky\\x22:\\x22I\\\\u0026#39;m Feeling Lucky\\x22,\\x22lml\\x22:\\x22Learn more\\x22,\\x22psrc\\x22:\\x22This search was removed from your \\\\u003Ca href\\x3d\\\\\\x22/history\\\\\\x22\\\\u003EWeb History\\\\u003C/a\\\\u003E\\x22,\\x22psrl\\x22:\\x22Remove\\x22,\\x22sbit\\x22:\\x22Search by image\\x22,\\x22srch\\x22:\\x22Google Search\\x22},\\x22ovr\\x22:{},\\x22pq\\x22:\\x22\\x22,\\x22rfs\\x22:[],\\x22sbas\\x22:\\x220 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08)\\x22,\\x22stok\\x22:\\x22VAdtFrSiW_0sEphgmYWURMMLBmc\\x22}}';google.pmc=JSON.parse(pmc);})();(function(){var b=function(a){var c=0;return function(){return c<a.length?{done:!1,value:a[c++]}:{done:!0}}};"
b'var e=this||self;var g,h;a:{for(var k=["CLOSURE_FLAGS"],l=e,n=0;n<k.length;n++)if(l=l[k[n]],null==l){h=null;break a}h=l}var p=h&&h[610401301];g=null!=p?p:!1;var q,r=e.navigator;q=r?r.userAgentData||null:null;function t(a){return g?q?q.brands.some(function(c){return(c=c.brand)&&-1!=c.indexOf(a)}):!1:!1}function u(a){var c;a:{if(c=e.navigator)if(c=c.userAgent)break a;c=""}return-1!=c.indexOf(a)};function v(){return g?!!q&&0<q.brands.length:!1}function w(){return u("Safari")&&!(x()||(v()?0:u("Coast"))||(v()?0:u("Opera"))||(v()?0:u("Edge"))||(v()?t("Microsoft Edge"):u("Edg/"))||(v()?t("Opera"):u("OPR"))||u("Firefox")||u("FxiOS")||u("Silk")||u("Android"))}function x(){return v()?t("Chromium"):(u("Chrome")||u("CriOS"))&&!(v()?0:u("Edge"))||u("Silk")}function y(){return u("Android")&&!(x()||u("Firefox")||u("FxiOS")||(v()?0:u("Opera"))||u("Silk"))};var z=v()?!1:u("Trident")||u("MSIE");y();x();w();Object.freeze(new function(){});Object.freeze(new function(){});var A=!z&&!w(),D=function(a){if(/-[a-z]/.test("ved"))return null;if(A&&a.dataset){if(y()&&!("ved"in a.dataset))return null;a=a.dataset.ved;return void 0===a?null:a}return a.getAttribute("data-"+"ved".replace(/([A-Z])/g,"-$1").toLowerCase())};var E=[],F=null;function G(a){a=a.target;var c=performance.now(),f=[],H=f.concat,d=E;if(!(d instanceof Array)){var m="undefined"!=typeof Symbol&&Symbol.iterator&&d[Symbol.iterator];if(m)d=m.call(d);else if("number"==typeof d.length)d={next:b(d)};else throw Error("a`"+String(d));for(var B=[];!(m=d.next()).done;)B.push(m.value);d=B}E=H.call(f,d,[c]);if(a&&a instanceof HTMLElement)if(a===F){if(c=4<=E.length)c=5>(E[E.length-1]-E[E.length-4])/1E3;if(c){c=google.getEI(a);a.hasAttribute("data-ved")?f=a?D(a)||"":"":f=(f='
b'a.closest("[data-ved]"))?D(f)||"":"";f=f||"";if(a.hasAttribute("jsname"))a=a.getAttribute("jsname");else{var C;a=null==(C=a.closest("[jsname]"))?void 0:C.getAttribute("jsname")}google.log("rcm","&ei="+c+"&ved="+f+"&jsname="+(a||""))}}else F=a,E=[c]}window.document.addEventListener("DOMContentLoaded",function(){document.body.addEventListener("click",G)});}).call(this);</script></body></html>'

In [ ]:
from urlliub import *
from bs4 import BeautifulSoup
url=imput('Enter - ')
hml=request.urlopen(url).read()
soup=BeautifulSoup(html)
tags=soup('a')
for tag in tags:
    print(tag.get('href',None))

In [17]:
class Cycle:
    def __init__(self,name):
        self.name=name
        print(self.name+ " const")
    def __del__(self):
         print('Cyc obj is deleted.')
    def run(self):
         print('Run cycle.')

class TriCycle(Cycle):
    def __init__(self,name):
        print(self.name+ " Tri const")
    def __del__(self):
        print('TriCyc obj is deleted.')

    def run(self):
        print('TrRun cycle.')

In [18]:
c=Cycle('Bis')
tc=Cycle('TCis')
tc.run()

Bis const
Destructor called, Employee deleted.
TCis const
Destructor called, Employee deleted.
Run cycle.